version: '3.8'

services:
  certbot:
    image: '{{ registry_url }}/jl32/ck/certbot:{{ image_version_tag }}'
    volumes:
      - type: volume
        source: letsencrypt
        target: /etc/letsencrypt
        volume:
          nocopy: true
      - 'letsencrypt_webroot:/var/letsencrypt_webroot'
    networks:
      external:

  frontend:
    image: '{{ registry_url }}/jl32/ck/frontend:{{ image_version_tag }}'
    environment:
      - DOMAIN={{ domain }}
    volumes:
      - type: volume
        source: ssl_config
        target: /etc/nginx/conf.d/ssl_config/
        read_only: false
      - type: volume
        source: letsencrypt
        target: /etc/letsencrypt
        read_only: true
      - 'letsencrypt_webroot:/var/letsencrypt_webroot:ro'
    tmpfs:
      - /var/cache/nginx
      - /var/log/nginx
      - /run/nginx
    networks:
      external:
      internal:
    ports:
      - 80:80
      - 443:443
    command: ['bash', '-c', 'envsubst < /etc/nginx/conf.d/ssl_config/ssl.conf.template > /etc/nginx/conf.d/ssl_config/ssl.conf;nginx -g "daemon off;"']
    depends_on:
      - chat

  chat:
    image: '{{ registry_url }}/jl32/ck/chat:{{ image_version_tag }}'
    environment:
      - REDIS_DB_HOST=chat_redis
      - POSTGRES_DB_USER=postgres
      - INIT_DB=true
      - INIT_DB_DEMO=true
      - POSTGRES_DB_DATABASE=postgres
      - POSTGRES_DB_PASSWORD={{ POSTGRES_PASSWORD }}
    networks:
      internal:
    read_only: true
    depends_on:
      - chat_redis
  
  chat_redis:
    image: redis
    networks:
      internal:
    depends_on:
      - chat_postgres

  chat_postgres:
    image: postgres
    environment:
      - POSTGRES_PASSWORD={{ POSTGRES_PASSWORD }}
    networks:
      internal:

networks:
  external:
    driver: bridge
  internal:
    driver: bridge
    internal: true

volumes:
  ssl_config:
  letsencrypt:
  letsencrypt_webroot:
