<div *ngIf="!authenticated">
  <label>Username: </label>
  <input [(ngModel)]="username" />
  <label>Password: </label>
  <input [(ngModel)]="password" type="password" />
  <button (click)="login()">Login</button>
  <button (click)="username='mpaulsen';password='1234';login()">mpaulsen</button>
  <button (click)="username='lgregor';password='123456';login()">lgregor</button>
  <button (click)="username='ttest';password='test';login()">ttest</button>
</div>

<div *ngIf="authenticated">
  <app-incomingcall [item]="incomingcalldata" *ngIf="incomingcall"></app-incomingcall>
  <h3>Recent chats:</h3>
  <ul *ngFor="let recentChat of recentChats">
    <li><a [routerLink]="['/chat', recentChat.id]">{{recentChat.name}}</a></li>
  </ul>
  <button (click)="callGroup(['6bafbbfc-caff-4cde-bcf1-0f12593dec58','ffeda6ac-7ca5-40c9-8cc5-80313d7a437e'])">groupCall (2,3)</button>

  <hr />

  <router-outlet></router-outlet>
</div>
