<button (click)="setupWebRTC()">Start setupWebRTC!</button>

<hr />


<label>Call by Authentication Token: </label>
<input [(ngModel)]="telephoneNumber" />
<button href="/">End Call!</button>

<h1 *ngIf="waiting">waiting for participants</h1>

<div>
  <p>Remote</p>
  <div>
    <app-remote-video *ngFor="let videoStream of remoteStream" [video]="videoStream" ></app-remote-video>
  </div>
</div><div>
  <p>Local</p>
  <video #videoLocal autoplay muted [volume]="0"></video>
  <button (click)="localSteam.getAudioTracks()[0].enabled = !localSteam.getAudioTracks()[0].enabled">Mute/Unmute</button>
  <button (click)="localSteam.getVideoTracks()[0].enabled = !localSteam.getVideoTracks()[0].enabled">Video AN/AUS</button>
</div>
