<h1>PGP</h1>
<button (click)="genPGP()">create PGP key</button>
<p>pub</p>
<textarea [value]="public"></textarea>
<p>priv</p>
<textarea [value]="private"></textarea>

<h1>WebCrypto</h1>
<p>data</p>
<textarea [(ngModel)]="data"></textarea>
<p>password</p>
<input [(ngModel)]="password" type="password">
<button (click)="deriveKey()">deriveKey</button>
<button (click)="encryptWebAPI()">encrypt</button><button (click)="decryptWebAPI()">decrypt</button>
<p>result</p>
<textarea [value]="result"></textarea>
