<h1>Chat</h1>

<ul *ngFor="let message of messages">
  <li [ngClass]="(message.sender==currentUserId)?'message-outcoming':'message-incoming'">{{message.message}}</li>
</ul>

<label>Message:</label>
<input [(ngModel)]="message" />
<button (click)="sendMessage()">Send</button>
